.recruitment-list {
    max-width: 1100px; /* 푸터와 동일한 너비로 조정 */
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* 배경색을 흰색으로 변경 */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.list-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    padding-left: 10px; /* 제목에 약간의 패딩 추가 */
}

.table-container {
    overflow-x: auto;
}

.recruitment-table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

#recruitment-list-body td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 1200px) {
    .recruitment-list {
        margin: 20px;
        width: calc(100% - 40px); /* 좌우 마진을 고려한 너비 설정 */
    }
}