<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/member/resume_example.css">
</head>
<body>
    <div id="member">
        <header class="member-header">
            <h3>header</h3>
        </header>
        <aside class="member-resume-aside"></aside>
        <section class="member-resume-section">
            <div class="resume resume-user-info">
                <div class="resume-user-info-left">
                    <div class="resume-name-box">
                       <div class="resume-name">주승재</div>
                    </div>
                    <div class="resume-age-box">
                        <div class="resume-age">2000.07.19(24세)</div>
                        <div class="resume-message">기업이 이력서 열람/제안시 개인정보는 정상 노출됩니다.</div>
                    </div>
                    <div class="user-info-detail-box">
                        <div class="user-info-detail-name">이메일</div>
                        <div class="user-info-detail-content">jujae03@naver.com</div>
                        <div class="user-info-detail-name">휴대폰</div>
                        <div class="user-info-detail-content">010-****-1927</div>
                        <div class="user-info-detail-name">주소</div>
                        <div class="user-info-detail-content">서울시 노원구 누원로 18</div>
                    </div>
                </div>
                <div class="resume-user-info-right">
                    <div class="resume-image-box"></div>
                </div>
            </div>
            <div class="resume resume-user-portfolio">
                <div class="resume-user-portfolio-title-box">
                    <div class="resume-user-portfolio-title">포트폴리오</div>
                    <div class="resume-user-portfolio-button">
                        <input type="button" class="resume-button-add" value="+ 추가">
                    </div>
                </div>
                <div class="resume-user-portfolio-list"></div>
            </div>
            <div class="resume academic">
                <div class="academic resume-user-academic-title-box">
                    <div class="academic resume-user-academic-title-content">
                        <div class="resume-user-academic-title-content-left">학력</div>
                        <div class="academic resume-user-academic-title-content-right">
                            <div class="academic resume-user-academic-result-content">대학교 4년제(졸업)</div>
                            <div class="resume-user-academic-result-image-box">
                                <div class="resume-user-academic-result-image"></div>
                            </div>
                        </div>
                    </div>
                    <div class="resume-user-academic-button">
                        <input type="button" class="resume-button-add" value="+ 추가">
                    </div>
                </div>
            </div>
            <div class="resume resume-user-career"></div>
            <div class="resume resume-user-skill"></div>
        </section>
        <footer class="member-footer"></footer>
    </div>
</body>
</html>