/* 전체 카드 레이아웃 */
.user-card-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

/* 개별 사용자 카드 스타일 */
.user-card {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.user-card-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    border: 2px solid #000000;
}

.user-info {
    flex-grow: 1;
    text-align: left;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.user-education,
.user-address,
.user-skill {
    margin: 3px 0;
    color: #555;
}

.user-actions {
    text-align: right;
}

.user-actions .btn {
    margin-left: 10px;
}

/* 후보자 저장 (파란색) */
.btn-save {
    background-color: #437CA1;
    color: white;
}

/* 저장된 후보자 (회색) */
.btn-saved {
    background-color: #E3F2FF;
    color: black;
}