/* Sidebar Styling */
.ms-sidebar {
    background-color: #ffffff !important;
    padding: 10px;
    width: 220px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #8e8e8e;

}

.ms-sidebar-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.ms-nav {
    list-style-type: none; /* 리스트의 점 제거 */
    padding: 0;
    margin: 0;
}

.ms-nav-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #6c757d;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none; /* 링크에 밑줄 제거 */
}

.ms-nav-link.active {
    background-color: #eaf3ff;
    color: #007bff;
    border-radius: 5px;
}

.ms-nav-link i {
    margin-right: 10px;
    font-size: 24px;
}

.ms-collapse-icon {
    margin-left: auto;
    transition: transform 0.3s ease;
}

.ms-collapse-icon[aria-expanded="true"] {
    transform: rotate(180deg);
}

.ms-collapse {
    transition: height 0.3s ease;
}

.ms-nav-link:hover {
    background-color: #d8e8ff;
    color: #007bff;
}

.ms-small-link {
    font-size: 14px;
    padding: 5px 15px;
}

.ms-small-link i {
    font-size: 18px;
    margin-right: 5px;
}

/* Main Content Styling */
.ms-main-content {
    margin-left: 240px; /* 사이드바 너비만큼 메인 콘텐츠 여백 */
    padding: 20px;
    flex-grow: 1;
    min-height: calc(100vh - 60px); /* 푸터 높이를 제외한 높이 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Responsive adjustments */
@media (max-width: 991.98px) {
    .ms-main-content {
        margin-left: 0; /* 모바일 화면에서는 사이드바를 숨기고 여백을 없앰 */
    }
}
